.addGame {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 600px;
  margin: auto;
  grid-gap: 0.2em;
  margin-bottom: 2em;
  background-size: contain;
  background-image: url("../../assets/table_small.png");
  height: calc(100vw * 0.56);
  max-height: 336px;

  .label {
    margin: 0;
    margin-top: 1em;
  }

  .submit {
    grid-column: 1 / 4;
    margin-top: 1em;
  }

  .button {
    background-color: white;
    color: black;
  }
}

.demoWrapper {
  opacity: 1;
}
