.playerStats {
  margin: auto;
  max-width: 600px;

  .row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    .statGrid {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1em;
      row-gap: 0.2em;
    }
  }
}
