.playerStats {
  margin: auto;
  max-width: 600px;
  margin-top: 2em;

  .row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    .drop {
      display: flex;
      flex-direction: row;
    }

    .statGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
      row-gap: 0.2em;
    }
  }
}
